.main-theme {
    --main-text-color :#263036;
    --left-column-background: #86A3B4;
    --black-text-color: #1E1E1E;
    --blue-text-color: #1C2E8C;
    --white-text-color: #FFFFFF;
    --right-column-background: fff;
  
    --wrapper-padding-left: 20rem;
    --padding-top: 9px;
    --left-column-padding-top: 58px;
    --left-column-padding-left: 40px;
    --left-column-padding-right: 55px;
    --left-column-padding-subsection: 36px;
    --left-column-section-padding-top: 36px;
    --left-column-sectionitem-padding-bottom: 36px;
    --left-column-sectionitem-padding-top: 11px;
    --left-column-title-padding-bottom: 5px;
    --right-column-padding-left: 55px;
    --right-column-padding-subsection: 49px;
    --right-column-title-padding-bottom: 28px;
  }